<%= form_with(model: @student, local: true ,url: choose_new_or_edit_student) do |form| %>
<% if @student.errors.any? %>
  <div id="error_explanation">
    <h2><%= @student.errors.count %>件のエラーがあります。</h2>
    <ul>
      <% @student.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>
　<div class="student_name">
　　<%= form.label :生徒名 %>
　　<%= form.text_field :student_name %>
　</div><br>
　<div class="category">
　　<%= form.label :カテゴリー %>
　　<%= form.select :category, Student.categories.keys %>
　</div><br>
  <div class="school_year">
　　<%= form.label :学年 %>
　　<%= form.select :school_year, Student.school_years.keys %>
　</div><br>

　<%= form.submit %>
<% end %>
<%= link_to "生徒一覧に戻る", students_path %>
