<%= render'application/sidebar' %>
<div class="old_students">
<h1>生徒一覧</h1>
<p>(生徒の親は詳細から健康情報が登録可能)</p><br>
<p><%= notice %></p>
<table class= "student_center">
  <tr>
    <th>ユーザー</th>
    <th>生徒名</th>
    <th>カテゴリー</th>
    <th>学年</th>
  </tr>
<% @student.each do |student| %>
  <tr>
    <td><%= student.user.name %></td>
    <td><%= student.student_name %></td>
    <td><%= student.category %></td>
    <td><%= student.school_year %></td>
    <td><%= link_to '生徒詳細', student_path(student.id) %></td>
  </tr>
<% end %>
</table><br>
<%= link_to '新しく生徒を登録する', new_student_path %>
</div>
