<h1>生徒一覧</h1>
<p><%= notice %></p>
<table>
  <tr>
    <th>ユーザー</th>
    <th>生徒名</th>
    <th>カテゴリー</th>
    <th>学年</th>
  </tr>
<% @student.each do |student| %>
  <tr>
    <td><%= student.user.name %></td>
    <td><%= student.student_name %></td>
    <td><%= student.category %></td>
    <td><%= student.school_year %></td>
    <td><%= link_to '詳細', student_path(student.id) %></td>
  </tr>
<% end %>
</table>
<%= link_to '新しく生徒を登録する', new_student_path %>
