<%= form_with(model: @post, local: true ,url: choose_new_or_edit ) do |form| %>
<% if @post.errors.any? %>
  <div id="error_explanation">
    <h2><%= @post.errors.count %>件のエラーがあります。</h2>
    <ul>
      <% @post.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>
  <div class="post_title">
    <%= form.label :タイトル %><br>
    <%= form.text_field :title %>
  </div>
  <div class="post_content">
    <%= form.label :内容 %><br>
    <%= form.text_area :content %>
  </div><br>
  <div class="post_field">
    <%= form.label :画像 %><br>
    <p><%=image_tag(@post.image.to_s) %></p>
    <%= form.file_field :image %>
    <%= form.hidden_field :image_cache %>
  </div><br>
  <%= form.submit %>
<% end %><br>
<%= link_to "日記一覧画面にもどる", posts_path %>
