<%= render'application/sidebar' %>
<div class = "new_posts">
<h1>日記一覧</h1>
<p><%= notice %></p>
<table>
  <tr>
    <th>投稿者</th>
    <th>タイトル</th>
    <th>内容</th>
    <th>画像</th>
    <th>詳細</th>
  </tr>

<% @posts.each do |post| %>
  <tr>
    <td><%= post.user.name %></td>
    <td><%= post.title %></td>
    <td><%= post.content %></td>
    <td><%= image_tag(post.image.to_s) %></td>
    <td><%= link_to '詳細', post_path(post.id) %></td>
  </tr>
<% end %>
</table>
<%= link_to '新しく日記を投稿する', new_post_path %><br>
</div>
