<!DOCTYPE html>
<html>
<header>
  <nav class="navbar navbar-expand navbar-light">
    <%= link_to "Rugnet", root_path, class: 'navbar-brand' %>
    <div id="Navber">
      <ul class="navbar-nav">
        <% if user_signed_in? %>
          <li class="nav-item active">
            <%= link_to 'アカウント編集', edit_user_registration_path, class: 'nav-link' %>
          </li>
          <li class="nav-item active">
            <%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class: 'nav-link' %>
          </li>
          <li class="nav-item active">
            <%= link_to '生徒一覧', students_path, class: 'nav-link' %>
          </li>
          <li class="nav-item active">
            <%= link_to 'My profile', user_path(current_user.id), class: 'nav-link' %>
          </li>

      <% else %>
          <li class="nav-item active">
            <%= link_to "新規登録", new_user_registration_path, class: 'nav-link' %>
          </li>
          <li class="nav-item active">
            <%= link_to "ログイン", new_user_session_path, class: 'nav-link' %>
          </li>
        <% end %>
        <li class="nav-item active">
          <% if current_user.try(:admin?) %>
            <%= link_to "管理者画面", rails_admin_path, class: 'nav-link' %>
          <% end %>
        </li>
      </ul>
    </div>
  </nav>
</header>
  <head>
    <title>RugnetApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if notice %>
      <p class="alert alert-notice"><%= notice %></p>
    <% end %>
    <% if alert %>
      <p class="alert alert-error"><%= alert %></p>
    <% end %>
    <div class="container-fluid py-4 <%= devise_controller? ? 'mw-md' : 'mw-xl' %>">
    <%= yield %>
    </div>
  </body>
</html>

<footer>
  <div id="footer" class="fixed-bottom" style="height:50px; background-color: #343a40; color: #fff;">
          <p class="text-center">©︎ 2021.yo.rugnet .All Right Reserved</p>
  </div>
</footer>
