<!DOCTYPE html>
<html>
<head>
  <title>RugnetApp</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <meta name="viewport" content="width=device-width,initial-scale=1">

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>
<body class="text">
  <div class="content">
  <% if notice %>
    <p class="alert alert-notice"><%= notice %></p>
  <% end %>
  <% if alert %>
    <p class="alert alert-error"><%= alert %></p>
  <% end %>

<header>
  <header>
  <!-- Navbar
  ================================================== -->
    <section>
      <div class="row">
        <div class="col-lg-12">
        <div class="page-header">
        </div>

          <div class="bs-component">
            <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
              <a class="navbar-brand" href="#"><%= link_to "Rugnet", root_path, class: 'navbar-brand' %></a>

              <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>

              <div class="collapse navbar-collapse" id="navbarColor02">
                <ul class="navbar-nav">
                  <% if user_signed_in? %>
                    <li class="nav-item active">
                      <%= link_to 'アカウント編集', edit_user_registration_path, class: 'nav-link' %>
                    </li>
                    <li class="nav-item active">
                      <%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class: 'nav-link' %>
                    </li>
                    <li class="nav-item active">
                      <%= link_to '生徒一覧', students_path, class: 'nav-link' %>
                    </li>
                    <li class="nav-item active">
                      <%= link_to '日記一覧', posts_path, class: 'nav-link' %>
                    </li>
                    <li class="nav-item active">
                      <%= link_to 'My profile', user_path(current_user.id), class: 'nav-link' %>
                    </li>

                <% else %>
                    <li class="nav-item active">
                      <%= link_to "新規登録", new_user_registration_path, class: 'nav-link' %>
                    </li>
                    <li class="nav-item active">
                      <%= link_to "ログイン", new_user_session_path, class: 'nav-link' %>
                    </li>
                  <% end %>
                  <li class="nav-item active">
                    <% if current_user.try(:admin?) %>
                      <%= link_to "管理者画面", rails_admin_path, class: 'nav-link' %>
                    <% end %>
                  </li>
                </ul>
              </div>
            </nav>
          </div>
        </div>
      </div>
    </section>
  </header>

  <nav class="navbar navbar-expand navbar-light">
    <div id="Navber">
    </div>
  </nav>
</header>
<%= yield %>
</div>
</body>

<footer>
  <div id="footer" style="height:50px; bottom: -50px; background-color: #993741; color: #fff;">
          <p class="text-center">©︎ 2021.yo.rugnet .All Right Reserved</p>
  </div>
</footer>


</html>
